body{
    background-color: #d0d0d0;
}

.myBg1{
    background:  rgba(42,42,42,1);
}

.myBg2{
    background:  rgba(208,208,208,1);
}

.myColor1{
    color: #a1a0a0;
}

.fontLora{
    font-family: 'Lora', serif;
    font-weight: bold ;
}

.navBrand:hover{
    color: rgba(208,208,208,1);
}

.navBtn{
    opacity: 80%;
}

.navBtn:hover{
    color: rgba(208,208,208,1);
    opacity: 100%;
}

.navReg{
    color: rgba(42,42,42,1);
    opacity: 80%;
}

.navReg:hover{
    color: rgba(42,42,42,1) ;
    opacity: 100%;
}

@media only screen and (max-width: 992px){
    .navReg{
        color: rgba(208,208,208,1);
        opacity: 80%;
    }

    .navReg:hover{
        color: rgba(208,208,208,1);
        opacity: 100%;
    }
}

.navLog{
    color: #d0d0d0;
}

.mySearch{
    background-color: rgb(231, 231, 231);
    border-radius: 30px 0px 0px 30px;
}

.getDis{
    display: none;
}

.btnSearch{
    background-color: #2a2a2a;
    border-radius: 0px 30px 30px 0px;
}

.btnCat{
    color: rgb(143, 143, 143);
}

.btnCat:hover{
    color: rgba(42,42,42,1);
}

.btn-category{
    box-shadow: 2px 2px 2px rgba(208,208,208,1) !important;
}

.btn-category:hover{
    box-shadow: -2px -2px 2px rgba(208,208,208,1) !important;
}

.myCard{
    background-color: rgb(231, 231, 231);
    position: relative;
    border-radius: 30px 30px 30px 30px;
    height: 30em;
}

.imgCard{
    height: 30%;
}

.cardHead{
    color: rgb(143, 143, 143);
    font-size: 12px;
}

.subTitle{
    color: rgb(143, 143, 143);
    font-size: 12px;
}

.cardBtn{
    color: rgb(231, 231, 231);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 30px 0px 30px 0px;
}

.myFooter{
    box-shadow: -14px -9px 33px -7px rgb(58, 58, 58);
}

.myForm{
    width: 80%;
    background-color: rgba(42,42,42,1);
    color: rgb(231, 231, 231);
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.9);
    border-radius: 30px 30px 30px 30px;
    position: relative;
}

.myLoginForm{
    background-color: #2a2a2a;
    color: rgb(231, 231, 231);
    box-shadow: 50px 100px 100px rgba(0, 0, 0, 0.9);
    border-radius: 30px 30px 30px 30px;
    position: relative;
}

.myRegForm{
    background-color: rgba(42,42,42,1);
    color: rgb(231, 231, 231);
    box-shadow: 50px 100px 100px rgba(0, 0, 0, 0.9);
    border-radius: 30px 30px 30px 30px;
    position: relative;
}

.formBtn{
    color: rgb(58, 58, 58);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 30px 0px 30px 0px;
}

.myBgImg{
    background-image: url(..\..\public\media\formimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgFooter{
    background-color: #2a2a2a;
}

.myHead{
    border-bottom: solid 2px black;
}

.dropDown{
    width: 80vw !important;
}

.showImg{
    position: sticky;
    top: 100px;
}

@media only screen and (max-width: 992px){
    .showImg{
        position: none;
    }
}